@import 'bootstrap/scss/bootstrap';

body {
    background-color: #eedbdb;
    font-family: "Koruri", sans-serif;
}

.ep-root {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.emoji {
    height: 2em;
}

